body{
    background-color: lightblue;
    margin: 0px;
}

.container{
    padding-left: 10px;
}


.bar{
    background-color: lightblue;
}

button{
    color: darkcyan;
    font-size: 20pz;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover{
    background-color: darkcyan;
    color: white;
}